services:
  audio_to_text_ui:
    profiles:
      - stack
    image: ghcr.io/tyemirov/ghttp:latest
    ports:
      - "7860:7860"
    volumes:
      - ../ui:/data:ro
    command: ["--bind", "0.0.0.0", "--directory", "/data", "7860"]
    depends_on:
      - audio_to_text_backend

  audio_to_text_backend:
    profiles:
      - stack
    build:
      context: ../..
      dockerfile: reel/docker/backend/Dockerfile.dev
    env_file:
      - ../.env.backend
    ports:
      - "8080:8080"
    volumes:
      - ../../:/app
      - ../data:/app/reel/data
    command: ["--host", "0.0.0.0", "--port", "8080"]
    depends_on:
      - audio_to_text_grpc

  audio_to_text_grpc:
    profiles:
      - grpc
      - stack
    build:
      context: ../..
      dockerfile: reel/docker/grpc/Dockerfile.dev
    env_file:
      - ../.env.grpc
    ports:
      - "50051:50051"
    volumes:
      - ../../:/app
      - ../data:/app/reel/data
      - ../data/hf-cache:/opt/hf-cache
      - ../data/torch-cache:/opt/torch-cache
    command: ["--host", "0.0.0.0", "--port", "50051"]
