[run]
branch = True
parallel = True
source =
    audio_to_text
    backend
    audio_grpc
    render_text_video
    domain
    service

[report]
show_missing = True
skip_covered = True
omit =
    sitecustomize.py
    audio_grpc/*_pb2*.py
